.HomePage {
  .header {
    background: url('../assests/images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .signup {
    border: 1px solid #274b89;
    border-radius: 90px;
    padding: 0.57rem 2.5rem;
    background: transparent;
    margin-right: 1rem;
  }

  .login {
    padding: 0.57rem 3rem;
    border: none;
    background: #274b89;
    border-radius: 90px;
    color: white;
  }

  .card {
    background: #ffffff;
    box-shadow: 4px 14px 52px rgba(0, 0, 0, 0.07);
    border-radius: 10px;

    &:visited {
      border: 1px solid #bbbbbb;
    }

    .card-header {
      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(239, 239, 239, 0.54) 100%
      );
      border-radius: 10px;
    }
  }
}
